@using System.Security.Claims

<ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Collect" asp-action="ListCollects">Coletas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Supplier" asp-action="ListSuppliers">Fornecedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Product" asp-action="ListProducts">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Filial" asp-action="ListFilials">Filiais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="ListUsers">Usuários</a>
        </li>
    </ul>