@model CollectApp.ViewModels.ChangeStatusCollectViewModel

<div class="d-flex justify-content-end gap-1">
    <form asp-controller="Collect" asp-action="ChangeCollectStatus" method="post">
        <input asp-for="Id" type="hidden" value="@Model.Id">
        <input asp-for="Status" type="hidden" value="Coletado">
        <button class="btn btn-primary">Coletado</button>
    </form>
    <form asp-controller="Collect" asp-action="" method="post">
        <a asp-action="EditCollect" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    </form>
    <form asp-controller="Collect" asp-action="ChangeCollectStatus" method="post">
        <input asp-for="Id" type="hidden" value="@Model.Id">
        <input asp-for="Status" type="hidden" value="Deletado">
        <button class="btn btn-primary">Deletado</button>
    </form>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}