@using System.Text.Json
@model CollectApp.ViewModels.CreateCollectViewModel
@{
    ViewData["Title"] = "Inserir coleta";
}

<div class="container">
    <h1 class="mb-4">Insira uma coleta</h1>
    <form asp-controller="Collect" asp-action="CreateCollect" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group mt-4 col-4 position-relative">
            <label>Fornecedor</label>
            <div class="position-relative">
                <input asp-for="Supplier" id="Supplier" class="form-control pe-5" readonly>
                <button type="button" 
                        class="p-0 border-0 bg-transparent position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%);"
                        data-bs-toggle="modal" 
                        data-bs-target="#searchSupplierModal"
                        id="searchSuppliersButton">
                    <img src="~/assets/img/search-icon.svg" alt="Check button" width="24" height="24">
                </button>
            </div>
            <input asp-for="SupplierId" type="hidden">
            <span asp-validation-for="Supplier" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="CollectAt"></label>
            <input asp-for="CollectAt" class="form-control">
            <span asp-validation-for="CollectAt" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label>Produto</label>
            <div class="position-relative">
                <input asp-for="Product" id="Product" class="form-control pe-5" readonly>
                <button type="button" 
                        class="p-0 border-0 bg-transparent position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%);"
                        data-bs-toggle="modal" 
                        data-bs-target="#searchProductModal"
                        id="searchProductsButton">
                    <img src="~/assets/img/search-icon.svg" alt="Check button" width="24" height="24">
                </button>
            </div>
            <input asp-for="ProductId" type="hidden">
            <span asp-validation-for="Product" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Volume"></label>
            <input asp-for="Volume" class="form-control">
            <span asp-validation-for="Volume" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" class="form-control">
            <span asp-validation-for="Weight" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label>Loja</label>
            <div class="position-relative">
                <input asp-for="Filial" id="Filial" class="form-control pe-5" readonly>
                <button type="button" 
                        class="p-0 border-0 bg-transparent position-absolute"
                        style="top: 50%; right: 10px; transform: translateY(-50%);"
                        data-bs-toggle="modal" 
                        data-bs-target="#searchFilialModal"
                        id="searchFilialsButton">
                    <img src="~/assets/img/search-icon.svg" alt="Check button" width="24" height="24">
                </button>
            </div>
            <input asp-for="FilialId" type="hidden">
            <span asp-validation-for="Filial" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="text-end mt-4 col-4">
            <a asp-controller="Collect" asp-action="ListCollects"><button type="button" class="btn btn-secondary">Voltar</button></a>
            <button type="submit" class="btn btn-primary">Criar</button>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Supplier/_SupplierSearchModal.cshtml")
@await Html.PartialAsync("~/Views/Product/_ProductSearchModal.cshtml")
@await Html.PartialAsync("~/Views/Filial/_FilialSearchModal.cshtml")

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}