@using System.Security.Claims

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Collect" asp-action="ListCollects">Coletas</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Dashboard">Relatórios</a>
    </li>
</ul>