@using CollectApp.ViewModels
@model PaginationViewModel

<nav aria-label="Product pagination">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var isActive = i == Model.CurrentPage ? "active" : "";
            <li class="page-item @isActive">
                <a href="javascript:void(0);" class="page-link page-button" data-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>