@model CollectApp.ViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Editar usuário";
}

<div class="container">
    <h1 class="mb-4">Editar usuário</h1>
    <form asp-controller="User" asp-action="EditUser" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Id" type="hidden">
        <div class="form-group col-4 position-relative">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control">
            <span asp-validation-for="FullName" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="mb-4">
                <label class="form-label fw-bold">Cargo</label>
                <div class="d-flex gap-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Role" value="Gestor" id="roleGestor" />
                        <label class="form-check-label" for="roleGestor">Gestor</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Role" value="Comprador" id="roleComprador" />
                        <label class="form-check-label" for="roleComprador">Comprador</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Role" value="Admin" id="roleAdmin" />
                        <label class="form-check-label" for="roleAdmin">Admin</label>
                    </div>
                </div>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        <div class="text-end mt-4 col-4">
            <button type="submit" class="btn btn-primary">Editar</button>
            <a asp-controller="User" asp-action="ListUsers"><button type="button" class="btn btn-secondary">Voltar</button></a>
        </div>
    </form>
</div>

@await Html.PartialAsync("_ModalError", @ViewBag.Message as string)

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var showModal = '@ViewBag.ShowModal' === 'True';
            if (showModal) {
                var modalElement = document.getElementById('ModalError');
                if (modalElement) {
                    var modal = new bootstrap.Modal(modalElement);
                    modal.show();
                }
            }
        });
    </script>
}