@model CollectApp.ViewModels.CreateSupplierViewModel
@{
    ViewData["Title"] = "Inserir fornecedor";
}

<div class="container">
    <h1 class="mb-4">Insira um fornecedor</h1>
    <form asp-controller="Supplier" asp-action="CreateSupplier" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group col-4 position-relative">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" autofocus>
            <span asp-validation-for="Name" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="CNPJ"></label>
            <input asp-for="CNPJ" class="form-control">
            <span asp-validation-for="CNPJ" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Street"></label>
            <input asp-for="Street" class="form-control">
            <span asp-validation-for="Street" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Neighborhood"></label>
            <input asp-for="Neighborhood" class="form-control">
            <span asp-validation-for="Neighborhood" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Number"></label>
            <input asp-for="Number" class="form-control">
            <span asp-validation-for="Number" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control">
            <span asp-validation-for="City" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control">
            <span asp-validation-for="State" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="ZipCode"></label>
            <input asp-for="ZipCode" class="form-control">
            <span asp-validation-for="ZipCode" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="text-end mt-4 col-4">
            <button type="submit" class="btn btn-primary">Criar</button>
            <a asp-controller="Supplier" asp-action="ListSuppliers"><button type="button" class="btn btn-secondary">Voltar</button></a>
        </div>
    </form>
</div>

@await Html.PartialAsync("_ModalError", @ViewBag.Message as string)

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var showModal = '@ViewBag.ShowModal' === 'True';
            if (showModal) {
                var modalElement = document.getElementById('ModalError');
                if (modalElement) {
                    var modal = new bootstrap.Modal(modalElement);
                    modal.show();
                }
            }
        });
    </script>
}